$color-default: #2196F3;
$color-error: #F44336;
$color-accept: #00E676;
$font-size: 16px;
$transition: all 0.25s;

*, 
*:after, 
*:before {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8bd9f5;
}

.material-form {
    display: block;
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-height: 300px;
    overflow: auto; 
    padding: 4rem 3rem;
    background-color: #fff;
    font-size: $font-size;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0 rgba(grey, 0.5);
    overflow: scroll;
    &__container {
        position: relative;
        width: 90%;
        margin: 2rem auto;
        padding: 0.9rem 0;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    &__label {
        position: absolute;
        font-family: sans-serif;
        font-weight: bold;
        transform: translateY(-50%);
        transition: $transition;
    }
    
    &__input {
        width: 100%;
        padding: 10px 0;
        color: #444;
        font-weight: bold;
        box-shadow: 0 -2px #f3f3f3 inset;
        border: none;
        outline: none;
        &[type="email"]:invalid {
            border-color: $color-error; /* Change border color to red for invalid email */
        }
        
    }
    &__focus-animation {
        position: absolute;
        left: 50%;
        bottom: 10px;
        height: 3px;
        width: 0;
        transition: $transition;
    }
    &__error {
        position: absolute;
        transform: translate(0px, 5px);
        color: $color-error;
        font-size: 0.75em;
        font-family: sans-serif;
        transition: $transition;
        opacity: 0; 
    }
    &__input[type="email"]:invalid ~ .material-form__error {
        opacity: 1; /* Show the error message for invalid email */
    }
    &__button {
        $button-height: 50px;
        line-height: $button-height;
        margin: 1rem auto 1rem auto;
        width: 40%;
        background-color: $color-default;
        color: #fff;
        font-weight: bold;
        font-size: 1.1em;
        border: none;
        border-radius: ($button-height / 2);
        outline: none;
        transition: $transition;
        cursor: pointer;
        &:hover {
            background-color: lighten($color-default, 10);
            transform: scale(1.1);
        }
        &:active {
            background-color: darken($color-default, 20);
            transform: scale(0.9);
        }
    }
}
